$fuentePrincipal: "Roboto", sans-serif;

$azul: #3a1de1;
$morado: #9d94bd;
$lila: #9c75f0;
$moradoMedio: #3D09E0;
$azulMedio: #5a8cc5;
$blanco: #fff;
$negro: #000;
$grisOscuro: #605e5e;
$gris: #a8a4a4;
$azulOscuro: #0d47a1;
$azulBrillante: #007bff;
$azulClaro: #92c2e4;
$verde: #71B100;
$rojo: red;
$amarillo: #E08709;
$verdeOscuro: #1e7e34;
$verdeClaro: #e6ffe9;

$telefono: 468px;
$tablet:768px;
$desktop:1200px;
$separacion:5rem;