@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {


    .contenedor {
        justify-content: center;

        h2 {
            text-align: center;
            color: v.$azulBrillante;
        }
    }
  
}




.boton-login {
    margin-top: 1rem;
    background-color: v.$azulBrillante;
    color: v.$blanco;
    padding: 1rem  3rem;
    
    text-transform: uppercase;
    font-weight: 900;
    &:hover{
        cursor: pointer;
    }

}


.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .imagen img {
        height: 100%;
        object-fit: cover;
    }
}

.hidden{
    display: none
    ;
}